<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> - mysqlize</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="<%= controller_name + '-' + action_name %>">
    <div class="wrapper"> 
      <header class="header">
      </header>
      <aside class="aside-menu">
        <ul>
          <li role="presentation" class="active"><a href="/"><i class="fa fa-home"></i>Home</a></li>
          <li role="presentation" class="active"><a href="/"><i class="fa fa-server"></i>Servers</a></li>
          <li role="presentation" class="active"><a href="#"><i class="fa fa-database"></i>Databases</a></li>
          <li role="presentation"><a href="#"><i class="fa fa-users"></i>Accounts</a></li>
          <li role="presentation"><a href="#"><i class="fa fa-cloud-upload"></i>Backups</a></li>
          <li role="presentation"><a href="#"><i class="fa fa-heartbeat"></i>Monitor</a></li>
          <li role="presentation"><a href="#"><i class="fa fa-wrench"></i>Tools</a></li>
          <li role="presentation"><a href="#"><i class="fa fa-question-circle"></i>Help</a></li>
        </ul>
      </aside>
      <main>
        <div class="yield">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
