<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> - mysqlize</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="<%= controller_name + '-' + action_name %>">
    <div class="wrapper"> 
      <aside class="aside-menu">
        <ul>
          <li role="presentation" class="active"><a href="/"><i class="fa fa-home"></i><span>Home<span></a></li>
          <li role="presentation"><a href="/backups"><i class="fa fa-cloud-upload"></i><span>Backups</span></a></li>
          <li role="presentation"><a href="/accounts"><i class="fa fa-users"></i><span>Accounts<span></a></li>
          <li role="presentation"><a href="/monitor"><i class="fa fa-heartbeat"></i></span>Monitor</span></a></li>
          <li role="presentation"><a href="#"><i class="fa fa-question-circle"></i>Help</a></li>
        </ul>
      </aside>
      <main>
        <div class="yield">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
