<%= form_for(@option_release) do |f| %>
  <% if @option_release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option_release.errors.count, "error") %> prohibited this option_release from being saved:</h2>

      <ul>
      <% @option_release.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :option_id %><br>
    <%= f.text_field :option_id %>
  </div>
  <div class="field">
    <%= f.label :release_id %><br>
    <%= f.text_field :release_id %>
  </div>
  <div class="field">
    <%= f.label :deprecated %><br>
    <%= f.check_box :deprecated %>
  </div>
  <div class="field">
    <%= f.label :introduced %><br>
    <%= f.datetime_select :introduced %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
