<p id="notice"><%= notice %></p>

<p>
  <strong>Option:</strong>
  <%= @option_release.option %>
</p>

<p>
  <strong>Release:</strong>
  <%= @option_release.release %>
</p>

<p>
  <strong>Deprecated:</strong>
  <%= @option_release.deprecated %>
</p>

<p>
  <strong>Introduced:</strong>
  <%= @option_release.introduced %>
</p>

<%= link_to 'Edit', edit_option_release_path(@option_release) %> |
<%= link_to 'Back', option_releases_path %>
