<h1>Listing options</h1>
Total options: <%= @options.count %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Long option</th>
      <th>Short option</th>
      <th>Option file</th>
      <th>Default</th>
      <th>Strung</th>
      <th>Description</th>
      <th>Extended description</th>
      <th>Introduced</th>
      <th>Removed</th>
      <th>Tool</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.name %></td>
        <td><%= option.long_option %></td>
        <td><%= option.short_option %></td>
        <td><%= option.option_file %></td>
        <td><%= option.default_value %></td>
        <td><%= option.short_option_can_be_strung %></td>
        <td><%= (option.description.to_s.length >= 45) ? option.description[0..17] + "..." + option.description.last(25) : option.description %></td>
        <td><%= (option.extended_description.to_s.length >= 45) ? option.extended_description[0..17] + "..." + option.extended_description.last(20) : option.extended_description %></td>
        <td><%= option.introduced_version %></td>
        <td><%= option.removed_version %></td>
        <td><%= option.tool.name %></td>
        <td><%= link_to 'Show', option %></td>
        <td><%= link_to 'Edit', edit_option_path(option) %></td>
        <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option', new_option_path %>
