<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Long option:</strong>
  <%= @option.long_option %>
</p>

<p>
  <strong>Short option:</strong>
  <%= @option.short_option %>
</p>

<p>
  <strong>Option file:</strong>
  <%= @option.option_file %>
</p>

<p>
  <strong>Short option can be strung:</strong>
  <%= @option.short_option_can_be_strung %>
</p>

<p>
  <strong>Description:</strong>
  <%= @option.description %>
</p>
<p>
  <strong>Extended description:</strong>
  <%= @option.extended_description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @option.status %>
</p>

<p>
  <strong>Tool:</strong>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
