<h1>Listing releases</h1>

<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Edition</th>
      <th>URL</th>
      <th>Release date</th>
      <th>Is latest</th>
      <th>Tool</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @releases.each do |release| %>
      <tr>
        <td><%= release.full_version %></td>
        <td><%= release.edition %></td>
        <td><%= release.url %></td>
        <td><%= release.release_date %></td>
        <td><%= release.is_latest %></td>
        <td><%= release.tool.name %></td>
        <td><%= link_to 'Show', release %></td>
        <td><%= link_to 'Edit', edit_release_path(release) %></td>
        <td><%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Release', new_release_path %>
