<p id="notice"><%= notice %></p>

<p>
  <strong>Major version:</strong>
  <%= @release.major_version %>
</p>

<p>
  <strong>Minor version:</strong>
  <%= @release.minor_version %>
</p>

<p>
  <strong>Build release:</strong>
  <%= @release.build_release %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @release.edition %>
</p>

<p>
  <strong>Is latest:</strong>
  <%= @release.is_latest %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @release.tool %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
